<!--The content below is only a placeholder and can be replaced.-->
<header class="header header-1">
 <div class="branding">
  <a href="..." class="nav-link">
    <img src="/assets/img/xpx_logo_for_dark_backgrounds.png">
    <span class="title">Official Charter for Wing Innovations</span>
  </a>
</div>
</header>

<div class="content-container">
  <main class="content-area layout-home" style="overflow-y: hidden;">
    <section class="home-hero">
      <div class="home-hero-content">
        <h1>Innovating the Wing of Choice</h1>
        <p class="head">We are inventors, coders, makers, design enthusiasts, tinkerers and boundary breakers. Right Airman, Right Place, Right Time.</p>
        <div class="home-hero-btn">
          <a class="btn btn-primary" href="#">Our Successes</a>
          <a class="btn btn-secondary btn-outline" href="#">Our Projects</a>
        </div>
      </div>
      <div class="bg-img"></div>
    </section>
    <section class="home-cards">
      <div class="home-cards-container clearfix">
        <h1>Innovations for the Warfighter by the Warfighter</h1>
        <div class="home-card-wrapper row">

          <div class="home-card home-card-sketch col-sm-3">
            <div class="home-card-bug"><clr-icon shape="bug" style="color: orangered; width: 72px; height: 72px;"></clr-icon></div>
            <h3 class="home-card-title">Discover Operational Problems</h3>
            <p> Our warfighters experience operational choke points in their daily operations. Often time these issues are left unchecked due to funding constraints, or not knowing where to turn for a solution.</p>
          </div>

          <div class="home-card home-card-sketch col-sm-3">
            <div class="home-card-bug"><clr-icon shape="flask" style="color: #003D79; width: 72px; height: 72px;"></clr-icon></div>
            <h3 class="home-card-title">Research Operational Solutions</h3>
            <p> We conduct extensive research thoughout relevant industries and find ways to become more competitive. We aim for a fully featured solution at a fraction of industry costs</p>
          </div>

          <div class="home-card home-card-sketch col-sm-3">
            <div class="home-card-bug"><clr-icon shape="ruler-pencil" style="color: #318700; width: 72px; height: 72px;"></clr-icon></div>
            <h3 class="home-card-title">Implement The Protoype</h3>
            <p> We are very proud to have our very own Innovation Lab! Our team is comprised of diverse technical backgrounds which enables us to develop and implent grassroots solutions saving millions.</p>
          </div>

          <div class="home-card home-card-sketch col-sm-3">
            <div class="home-card-bug"><clr-icon shape="deploy" style="color: #C92100; width: 72px; height: 72px;"></clr-icon></div>
            <h3 class="home-card-title">Share Successes At Enterprise Level</h3>
            <p> Once we've fully implented our innovations and realize a success, we share it! Our main priority becomes to provide guidance and a documented path to full enterprise level integration.</p>
          </div>

        </div>
      </div>
    </section>
  </main>
</div>
